/*
* @Author: huying
* @Date:   2017-02-08 11:01:50
* @Last Modified by:   11059
* @Last Modified time: 2017-02-08 16:24:31
*/

.tab-span {
    margin-left: 10px;
}

.comment {
    padding: 10px;
    border-bottom: 1px solid #c0c0c0;
}
.comment p {
    height: 90px;
    line-height: 22px;
    text-indent: 2em;
}

.comment .name {
    padding-left: 20px;
}

.tutor-text {
    margin-top: 15px;
    margin-left: -15px;
    font-weight: normal;
}